body {
  background-color: #d1ecbb;
}


.anima {
  background-color:aqua;
  min-height: 250px;
  width: 500px;
  font-size: 25px;
  transition-duration: 1s;
}

.anima:hover {
  background-color:#15ff00;
  font-size: 32px;
  min-height: 300px;
}
