
.anima {
  color: #1100ff;
}

.poz {
  width: 100px;
  height: 200px;
  background-color:rgb(21, 255, 0);
  position: relative;
  bottom: 15px;
}

.inpoz {
  width: 50px;
  height: 50px;
  background-color:#ff0000;
  position: absolute;
  top: 20px;
  right: 20px;
}

.anima a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 900;
  color: red;

  &:hover {
    color:#1edd1e;
    letter-spacing: 2px;
  }

}