
body {
margin: 0;
padding: 0;
box-sizing: border-box;
}

section {
  width: 1100px;
  margin: 0 auto;
}

/* header */

.headersection {
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;
}

menu a{
  padding: 15px;
  text-decoration: none;
  margin-right: 35px;
  color: #222B3A;
  font-size: 16px;
  font-weight: 900;
  transition: all 0.5s cubic-bezier(0.55, 0.06, 0.68, 0.19);
  border-radius: 15px;
}

menu a:hover {
  color: #09ff00;
  box-shadow: 2px 2px 5px #d600dd;
  border-radius: 15px;
}

menu a img {
  font-size: 14px;
  margin-right: 10px;
}


/* header end */

/* banner */
.banner {
  background-color: #296DCE;
}
main {
  background-color: #ffffff;
}

.hero {
  display: flex;
  justify-content: space-between;
  height: 513px;
}

.leftside h1 {
  color: white;
  font-size: 38px;
  width: 622px;
  margin-top: 100px;
}

.leftside h2 {
  color: #FC880D;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 50px;
}

.leftside button {
  width: 209px;
  height: 44px;
  background-color: transparent;
  color: #ffffff;
  font-weight: 900;
  border: 1px solid #ffffff;
  border-radius: 3px;
  margin-bottom: 72px;
  transition: all 0.5s cubic-bezier(0.55, 0.06, 0.68, 0.19);
}

.leftside button:hover {
  background-color:#09ff00;
}


.rightside img {
  margin-top: 35px;
  margin-right: 75px;
}

.outbarup {
  width: 468px;
  height: 15px;
  background: #F3F3F3;
  border: 1px solid #F3F3F3;
  border-radius: 3px;
  display: flex;
  align-items:center;
}
.innerbarup {
  width: 259px;
  height: 9px;
  background: #296DCE;
  border-radius: 2px;
}

.textbar {
  width: 468px;
  color: #ffffff;
  display: flex;
  justify-content: start;
}

.lefttext {
  width: 50%;
  display: flex;
}

.raighttext {
  width: 40%;
  display: flex;
}

.textnum {
  width: 40px;
  height: 42px;
  font-size: 38px;
  font-weight: 900;
}

.temtext {
  font-size: 14px;
  display:flex;
  align-items: flex-end;
}

/* banner end */


.bread {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bread span {
  display: flex;
}

.breadline {
  border-bottom: 1px solid #979FAD;
  width: 22px;
  height: 9px;
  margin: 0 13px;
}

.choiceblock {
  background-color:#FAFAFA;
  margin-bottom: 26px;
}

.choce {
  height: 99px;
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.choiceline {
  border-bottom: 2px solid #222B3A;
  width: 22px;
  height: 9px;
  margin-right: 12px;
}

.choce span {
  display: flex;
  color: #222B3A;
  font-weight: 900;
  font-size: 18px;
}

.selectfilter {
  display: flex;
  color: #F78000;
  border: 1px solid #F78000;
  border-radius: 3px;
  width: 242px;
  height: 44px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 900;
}

/* main block */

.moduleblock {
  height: 203px;
  border: 1px solid #F3F3F3;
  border-radius: 3px;
  box-shadow: 3px 3px 3px #F3F3F3;
  padding: 25px;
  display: flex;
  margin-bottom: 19px;
}

.number {
  width: 148px;
  color: #E1E1E1;
  font-size: 64px;
  font-weight: 900;

}

.moduleinfo h3 {
  color: #1092CB;
  font-size: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-top: 0;
}

.moduleinfo span {
  color: #979FAD;
  font-size: 16px;
  font-weight: 900;
}

.moduleinfo p {
  color:#696969;
  font-size: 16px;
  width: 800px;
}

.access span {
  color: #696969;
}

.access span time {
  color: #F78000;
}


.progresbar {
  width: 120px;
  position: relative;
}

.procent {
  display: flex;
  justify-content: center;
  color: #323232;
  font-size: 18px;
  font-weight: 900;
  justify-self: center;
  margin-top: 30px;
}

.outerbar {
  width: 121px;
  height: 15px;
  border: 1px solid #E6E6E6;
  border-radius: 1px;
  display: flex;
  align-items:center;
  transform: rotate(-90deg);
  position: absolute;
  top: 110px;
  left: -10px;
}

.innerbar {
  width: 81px;
  height: 9px;
  border: 1px solid #E6E6E6;
  border-radius: 3px;
  background-color: #0099DD;
}

/* main block end */

/* footer */

footer {
  height: 350px;
  background-color: #0099DD;
  margin-top: 76px;
  color: #ffffff;
  font-weight: 900;
}

.footerblock {
  display: flex;
  justify-content:space-between;
}

.footerblock h3 {
  font-size: 24px;
}

.footerline {
  border-top: 3px solid #ffffff;
  width: 30px;
}

.footerblock ul li {
  list-style: none;
  margin-left: -40px;
  margin-top: 10px;
}

.footerblock ul li a {
  text-decoration: none;
  color: #ffffff;
}

.downside {
  height: 47px;
  background-color: #222B3A;
}

/* footer end */